body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0; 
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff; 
    padding: 20px; 
    width: 39%;
}

.display {
    width: 56%; 
    height: 50px; 
    text-align: right; 
    margin-bottom: 15px; 
    font-size: 32px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 10px; 
    box-sizing: border-box; 
    background-color: #f9f9f9; 
}

.button {
    width: 60px; 
    height: 60px; 
    font-size: 24px; 
    margin: 5px;
    cursor: pointer; 
    border: none; 
    border-radius: 5px;
    background-color: #4CAF50; 
    color: white; 
    transition: background-color 0.3s; 
}

.button:hover {
    background-color: #45a049; 
}

.button:active {
    background-color: #388E3C; 
}

.button:focus {
    outline: none; 
}
